@use "/src/styles/abstracts/functions" as *;
@use "/src/styles/abstracts//mixins" as *;
@use "/src/styles/abstracts/variables" as *;

.cta-footer {
  display: grid;
  place-items: center;
  margin-top: 0;
  padding: 0;
  margin-bottom: rem(40);
  p {
    font-weight: 700;
    font-size: rem(24);
    text-align: center;
    background: repeating-linear-gradient(35deg, #e40b91, #039699 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    // Optional: Make it work in Firefox too
    background-clip: text;
    color: transparent;
  }

  .hero-btn {
    background-color: #222;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bold;
  }
}
