@use "/src/styles/abstracts/functions" as *;
@use "/src/styles/abstracts//mixins" as *;
@use "/src/styles/abstracts/variables" as *;

.client-dogs {
  text-align: center;
  // padding: 2rem 0;

  .dog-card {
    border-radius: 1rem;
    overflow: hidden;
    // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    img {
      border-radius: 1rem;
      width: 300px;
      height: 400px;
      // display: block;
      object-fit: cover;
    }
  }

  .swiper-pagination-bullet {
    background: #666;
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    background: #000;
    opacity: 1;
  }
}
.swiper {
  position: relative;
  padding-bottom: rem(60); // more space for the dots
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
}
