@use "/src/styles/abstracts/functions" as *;
@use "/src/styles/abstracts//mixins" as *;
@use "/src/styles/abstracts/variables" as *;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin-top: 50px;
  padding: 2rem;

  color: #222;

  .hero-content {
    // max-width: 1100px;
    width: clamp(rem(350), 80vw, rem(1200));
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    padding: 2rem;
    #title-color {
      color: hsl(335deg 56% 46%);
    }

    .dogs-image {
      width: clamp(rem(300), 40vw, rem(900));
      height: auto;
      aspect-ratio: 3 / 2;
      // display: grid;
      // place-self: center;
    }
    .van-image {
      position: absolute;
      // top: 0;
      // left: 0;
      // padding-left: 30px;
      // padding-top: rem(90);

      // height: auto;
      aspect-ratio: 3 / 2;
      // display: grid;
      // place-self: center;
    }

    h1 {
      // font-size: 2.5rem;
      font-size: clamp(rem(70), 30vw, rem(24));
      margin-bottom: 1rem;
      color: hsl(184deg 76% 35%);
      font-weight: 700;
      margin: 0;
    }

    p {
      font-size: 1.25rem;
      margin-bottom: 2rem;
    }

    .hero-btn {
      background-color: #222;
      color: #fff;
      padding: 0.75rem 1.5rem;
      border-radius: 0.5rem;
      text-decoration: none;
      font-weight: bold;
    }
  }

  @media (max-width: 768px) {
    .hero-content {
      padding: 1.5rem;
      h1 {
        margin: 0;
        font-size: 3rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}

@keyframes vanDriveAcross {
  0% {
    transform: translateX(100vw); // off-screen right
    opacity: 0;
  }
  20% {
    transform: translateX(0); // centered
    opacity: 1;
  }
  60% {
    transform: translateX(0); // still visible
    opacity: 1;
  }
  100% {
    transform: translateX(-120vw); // fully off-screen left
    opacity: 0;
  }
}

@keyframes dogsFadeIn {
  0%,
  59% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dogsGrowIn {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  60% {
    opacity: 0;
    transform: scale(0.7);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.dogs-image .hero-image {
  opacity: 0;
  transform: scale(0.7);
  animation: dogsGrowIn 5s ease-out forwards;

  z-index: 2;
  position: relative;
}

.van-img {
  animation: vanDriveAcross 5s ease-in-out forwards;
  position: absolute;
  // top: rem(90);
  left: 0;
  z-index: 1;
  // width: 900px;
  width: clamp(rem(300), 40vw, rem(900));
  height: auto;
}

.dogs-image {
  opacity: 0;
  animation: dogsFadeIn 3s ease-in-out forwards;
  animation-delay: 0s;
  z-index: 2;
  position: relative;
}
