// .hero-content {
//   max-width: 1200px;
//   margin: 0 auto;
//   padding: 1rem;
//   margin-top: 50px;
// }

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  // min-height: 100vh;
  margin-top: 50px;
  padding: 2rem;
  // background: linear-gradient(135deg, #ffd48d, #f69fb1, #8cc8f9);
  color: #222;

  .hero-image {
    width: 300px;
    // border-radius: 20px;
  }
  .hero-content {
    max-width: 800px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    padding: 2rem;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: hsl(184deg 76% 35%);
      font-weight: 700;
    }

    p {
      font-size: 1.25rem;
      margin-bottom: 2rem;
    }

    .hero-btn {
      background-color: #222;
      color: #fff;
      padding: 0.75rem 1.5rem;
      border-radius: 0.5rem;
      text-decoration: none;
      font-weight: bold;
    }
  }

  @media (max-width: 768px) {
    .hero-content {
      padding: 1.5rem;
      h1 {
        margin: 0;
        font-size: 3rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}
