@use "/src/styles/abstracts/functions" as *;
@use "/src/styles/abstracts//mixins" as *;
@use "/src/styles/abstracts/variables" as *;

.navbar {
  // padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 100;
  top: 0;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0 1rem;
    padding: 0;

    padding: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left);
  }

  .logo {
    img {
      max-height: 60px;
      object-fit: cover;
      margin: 0;
      padding: 0;
      margin-left: rem(10);
      // padding-top: rem(10);
    }
  }

  .menu-toggle {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    padding-bottom: rem(10);
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin-right: rem(10);

    li a {
      text-decoration: none;
      font-weight: 500;
      font-size: 1.5rem;
      background: repeating-linear-gradient(145deg, #e40b91, #039699 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      // Optional: Make it work in Firefox too
      background-clip: text;
      color: transparent;

      &:hover {
        background: #ff69b4;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      }
    }
  }

  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
      font-size: 2rem;
      background: none;
      border: none;
      cursor: pointer;
      color: #333;
      transition: transform 0.2s ease;

      &:active {
        transform: scale(0.95);
      }
    }

    .nav-links {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      flex-direction: column;
      background: rgba(255, 255, 255, 0.9);
      padding: 1rem 2rem;
    }

    .nav-links.open {
      display: flex;
      font-size: 1.5rem;
      // background: none;
      border: none;
      cursor: pointer;

      transition: transform 0.2s ease;
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px); /* for Safari */
      background: repeating-linear-gradient(
        145deg,
        #fcc889,
        #fa8bab 20%,
        #21dee1 100%
      );
      height: 100vh;
      margin: 0;
    }
  }
}
